/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");
header .top-bar .navbar-top .navbar-brand img {
  height: 50px; }
header .top-bar .navbar-top .navbar-nav li.dropdown span img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px; }
header .top-bar .navbar-top .navbar-nav li.dropdown a {
  font-weight: 500;
  color: #333; }
header .middle-bar {
    background: #ec0000;
}
  header .middle-bar .navbar {
    padding: 0; }
  header .middle-bar .navbar-nav li {
    padding: 0; }
    header .middle-bar .navbar-nav li .nav-link {
      color: #fff;
      padding: 10px 20px;
      font-family: "nunito", sans-serif; }
     header .middle-bar .navbar-nav li .nav-link:hover {
    text-decoration: none;
    background: #a50000;
}

.breadcrumb-section {
  background: #F5F7FA;
  padding: 20px; }
  .breadcrumb-section .content-header .content-header-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: #143066;
    margin: 0;
    float: left; }
  .breadcrumb-section .content-header .btn-save {
    float: right;
    padding: 3px 15px; }
  .breadcrumb-section .content-header .breadcrumb {
    background: transparent;
    margin: 0;
    width: 100%;
    padding: 0; }
    .breadcrumb-section .content-header .breadcrumb li {
      text-transform: uppercase;
      font-size: 14px; }
      .breadcrumb-section .content-header .breadcrumb li a {
        color: #006df0; }

.label-control {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #646f79; }

.text-control-s {
  display: block;
  padding: .5rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfe4e8;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.postprop-append {
  padding-left: 10px; }

.text-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfe4e8;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.content-main-body {
  background: #F5F7FA;
  padding: 20px; }
  .content-main-body .card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0; }
    .content-main-body .card .card-body .card-block .form-section-h {
      margin-bottom: 20px;
      font-weight: 400;
      color: #333;
      padding-bottom: 10px;
      background-color: #fff;
      border-bottom: 1px solid #dfe4e8; }
      .content-main-body .card .card-body .card-block .form-section-h a {
        background: #333;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
        float: right;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px; }
    .content-main-body .card .card-body .card-block .label-control {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      color: #646f79; }
    .content-main-body .card .card-body .card-block .text-control {
      display: block;
      width: 100%;
      padding: .5rem .75rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: #333;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #dfe4e8;
      border-radius: .25rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .content-main-body .card .card-body .card-block .img-stud-pro {
      height: 150px;
      display: block;
      margin: 0 auto 10px auto; }
    .content-main-body .card .card-body .card-block .table-fitems tr:nth-child(even) {
      background: #F5F7FA; }
    .content-main-body .card .card-body .card-block .table-fitems tr th, .content-main-body .card .card-body .card-block .table-fitems tr td {
      text-align: center;
      padding: 8px;   
      font-family: "Quicksand", sans-serif; }
      .content-main-body .card .card-body .card-block .table-fitems tr th .item-img, .content-main-body .card .card-body .card-block .table-fitems tr td .item-img {
        height: 30px;
        width: 30px;
        border-radius: 50%; }
      .content-main-body .card .card-body .card-block .table-fitems tr th .action, .content-main-body .card .card-body .card-block .table-fitems tr td .action {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center; }
        .content-main-body .card .card-body .card-block .table-fitems tr th .action li, .content-main-body .card .card-body .card-block .table-fitems tr td .action li {
          margin: 0 3px; }
          .content-main-body .card .card-body .card-block .table-fitems tr th .action li a, .content-main-body .card .card-body .card-block .table-fitems tr td .action li a {
            padding: 4px 7px;
            background: #333;
            color: #fff;
            font-size: 12px;
            border-radius: 5px; }
    .content-main-body .card .card-body .card-block .table-fitems tr th {
      background-color: #333;
      color: #fff;
      font-size: 15px; }
    .content-main-body .card .card-body .category-side {
      background: #F5F7FA; }
      .content-main-body .card .card-body .category-side h3 {
        padding: 10px;
        background: #dfe4e8;
        color: #000;
        margin: 0;
        font-size: 15px;
        font-family: "Poppins", sans-serif; }
      .content-main-body .card .card-body .category-side ul {
        padding: 10px;
        margin: 0;
        list-style: none;
        overflow: auto;
        max-height: 150px; }

.btn-w100 {
  width: 100%; }

.table-user tbody {
  font-family: "nunito", sans-serif; }
  .table-user tbody tr th {
    padding: 10px;
    font-size: 14px; }
  .table-user tbody tr td {
    padding: 10px;
    font-size: 14px; }

.cat-tag {
  float: left; }

.search-actions {
  float: right;
  display: flex; }
  .search-actions .category-action {
    padding-right: 10px; }
    .search-actions .category-action .form-control {
      padding: 3px 6px;
      display: block;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      height: auto;
      background-color: #fff; }
      .search-actions .category-action .form-control:focus {
        outline: none;
        box-shadow: none; }
  .search-actions .search-item .form-control {
    padding: 3px 6px;
    display: block;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    background-color: #fff;
    height: auto; }
    .search-actions .search-item .form-control:focus {
      outline: none;
      box-shadow: none; }

.shop-product {
  margin-bottom: 15px; }
  .shop-product .card {
    border-radius: 10px;
    background: #F5F7FA;
    margin: 0; }
    .shop-product .card .card-body {
      padding: 10px;
      text-align: center; }
      .shop-product .card .card-body .card-title {
        margin: 0;
        font-family: "nunito", sans-serif; }
        .shop-product .card .card-body .card-title .category {
          font-size: 11px;
          color: #646f79;
          display: block; }
      .shop-product .card .card-body .card-price {
        display: block; }
      .shop-product .card .card-body .btn-cart {
        background: #333;
        color: #fff;
        padding: 2px 20px;
        font-size: 14px;
        border-radius: 16px;
        margin-top: 5px; }
        .shop-product .card .card-body .btn-cart:focus {
          outline: none;
          box-shadow: none; }

.input-flex {
  display: flex; }
  .input-flex input:first-child {
    margin-right: 10px; }

.label-tags {
  font-size: 14px;
  margin: 0;
  font-family: 'Quicksand';
  font-weight: 600; }

.table-hours {
  margin: 0;
  width: 100%;
  border: 1px solid #F5F7FA; }
  .table-hours tbody {
    font-family: "Quicksand", sans-serif; }
    .table-hours tbody tr th {
      background: #F5F7FA;
      padding: 6px 5px; }
    .table-hours tbody tr td {
      padding: 7px;
      font-weight: 600; }
      .table-hours tbody tr td input {
        display: block;
        padding: 5px 6px;
        font-size: 13px;
        color: #86a1ae;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #dfe4e8;
        border-radius: .25rem;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.table-cart {
  font-family: 'Quicksand'; }
  .table-cart .total-amount {
    font-size: 19px;
    font-weight: 700; }

.table-heads tbody tr td .remove i {
  font-size: 23px;
  padding: 8px;
  color: red; }

.table-heads tbody tr td .plus i {
  font-size: 23px;
  padding: 8px;
  color: #0d6f22; }

.modal-header {
  padding: 10px; }
  .modal-header .modal-title {
    font-size: 16px; }

.price_inc {
  padding: 0;
  list-style: none;
  margin: 6px 0px; }
  .price_inc li {
    text-align: center;
    display: inline-block;
    padding-right: 15px;
    color: #333; }

.list-loca {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-loca li {
    padding-right: 4px;
    display: inline-block; }

.myform {
  position: relative;
  display: -ms-flexbox;
  box-shadow: 0 5px 15px 0 rgba(227, 227, 227, 0.5);
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px; }

.tx-tfm {
  text-transform: uppercase; }

.myform {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center; }

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.google {
  color: #666;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey; }

form .error {
  color: #ff0000; }

.logo {
  text-align: center; }
  .logo img {
    margin-bottom: 15px;
    height: 90px; }

footer .footer-copyright-area .footer-copy-right p {
  text-align: center;
  font-family: "nunito", sans-serif;
  margin: 0; }

/*# sourceMappingURL=style.css.map */

/* Loader Start */
.loader .modal-content {
  background: transparent;
  border:0px;
}
.modal-dialog.loader {
  position: absolute;
  top: 30%;
  left: 46%;
  transform: translate(-50%,-50%);
}
.loader .modal-body img{
width: 50px;
}
.existing-gallery {
    color: #333;
    display: block;
    padding: 4px 0;
}
.existing-div {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.existing-div a img {
    border-radius: 6px;
    border: 1px solid #333;
        height: 110px;
    width: 100%;
    margin-bottom: 10px;
}
.text-con-label {
    font-size: 13px;
}
.con-label {
font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin:0;
    font-family: "Roboto", sans-serif;
    color: #646f79;
}
span.cat-btns {
    background: #3F51B5;
    color: #fff;
    padding: 4px 7px;
    border-radius: 10px;
    font-size: 14px;
}
           span.tags {
    border: 1px solid #323232;
    padding: 3px 5px;
    font-size: 13px;
    border-radius: 10px;
}
.filter-title h3 {
    font-size: 20px;
    font-family: 'Poppins';
}

.filterbtn {
    float: right;
    background: #333;
    padding: 3px 10px;
    border: 1px solid #333;
    font-size: 16px;
    text-transform: uppercase;
}
.nowrap {
    white-space:nowrap;
}
/* Loader End */