@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


 $roboto: 'Roboto', sans-serif;
 $poppins: 'Poppins', sans-serif;
 $montserrat: 'Montserrat', sans-serif;
 $nunito: 'nunito', sans-serif;
 $quicksand: 'Quicksand', sans-serif;
 $open: 'Open Sans', sans-serif;