footer {
    .footer-copyright-area {
        .footer-copy-right {
             p {
                 text-align: center;
                 font-family: $nunito;
                 margin: 0;
             }
        }
    }
}