@include breadcrumb();
.label-control {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: $roboto;
                    color: $grey-d;
                }
 				.text-control-s {
                    display: block;
                    padding: .5rem .75rem;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $dark;
                    background-color: $white;
                    background-clip: padding-box;
                    border: 1px solid $lighten2;
                    border-radius: .25rem;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
.postprop-append {
    padding-left: 10px;
}
                .text-control {
                    display: block;
                    width: 100%;
                    padding: .5rem .75rem;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $dark;
                    background-color: $white;
                    background-clip: padding-box;
                    border: 1px solid $lighten2;
                    border-radius: .25rem;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
.content-main-body {
    background: $lighten1;
    padding: 20px;
    .card {
        margin-bottom: 1.875rem;
        border: none;
        border-radius: 0;
        .card-body {
            .card-block {
                .form-section-h {
                    margin-bottom: 20px;
                    font-weight: 400;
                    color:$dark;
                    padding-bottom: 10px;
                    background-color: $white;
                    border-bottom: 1px solid $lighten2;
					a {
						    background: $dark;
    						color: $white;
    						display: inline-block;
    						font-size: 14px;
    						border-radius: 6px;
    						float: right;
						    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
					}
                }
                
                .label-control {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: $roboto;
                    color: $grey-d;
                }
                .text-control {
                    display: block;
                    width: 100%;
                    padding: .5rem .75rem;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $dark;
                    background-color: $white;
                    background-clip: padding-box;
                    border: 1px solid $lighten2;
                    border-radius: .25rem;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
                .img-stud-pro {
                    height: 150px;
                    display: block;
                    margin: 0 auto 10px auto;
                }
                .table-fitems {
                    tr {
                        &:nth-child(even) {
                            background: $lighten1;
                        }
                        th, td {
                          text-align: center;
                          padding: 8px;
                          font-family: $quicksand;
                          .item-img {
                              height: 30px;
                              width: 30px;
                              border-radius: 50%;
                          }
                          .action {
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                display: flex;
                                justify-content: center;
                                li {
                                    margin: 0 3px;
                                    a {
                                        padding: 4px 7px;
                                        background: $dark;
                                        color: $white;
                                        font-size: 12px;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                        th {
                            background-color: $dark;
                            color:$white;
                            font-size: 15px;
                        }
                    }
                }
            }
			.category-side {
				background: $lighten1;
				h3 {
					padding: 10px;
    				background: $lighten2;
    				color: $black;
					margin: 0;
    				font-size: 15px;
    				font-family: $poppins;
				}
				ul {
					padding: 10px;
    				margin: 0;
    				list-style: none;
					overflow: auto;
    				max-height: 150px;
				}
			}
        }
    }
}
.btn-w100 {
    width: 100%;
}
.table-user {
    tbody {
    font-family: $nunito;
        tr {
            th {
                padding:10px;
                font-size: 14px;
            }
            td {
                padding:10px;
                font-size: 14px;
            }
        }
    }  
} 
.cat-tag {
    float:left;
}
.search-actions {
    float: right;
    display: flex;
    .category-action {
        padding-right: 10px;
        .form-control {
            padding: 3px 6px;
            display: block;
            font-size: 15px;
            font-family: $quicksand;
            font-weight: 600;
            height: auto;
            background-color: $white;
            &:focus {
                outline:none;
                box-shadow:none;
            }
       }
    }
    .search-item {
        .form-control {
            padding: 3px 6px;
            display: block;
            font-size: 15px;
            font-family: $quicksand;
            font-weight: 600;
            background-color: $white;
            height: auto;
            &:focus {
                outline:none;
                box-shadow:none;
            }
       }
    } 
}

.shop-product {
        margin-bottom:15px;
    .card {
        border-radius: 10px;
        background: $lighten1;
        margin: 0;
        .card-body {
            padding: 10px;
            text-align: center;
            .card-title {
                margin: 0;
                font-family: $nunito;
                .category {
                    font-size: 11px;
                    color: $grey-d ;
                    display:block;
                }
            }
            .card-price {
                display: block;
            }
            .btn-cart {
                background: $dark;
                color: $white;
                padding: 2px 20px;
                font-size: 14px;
                border-radius: 16px;
                margin-top: 5px;
                &:focus {
                    outline:none;
                    box-shadow:none;
                }
            }
        }
    }
}

.input-flex {
    display: flex;
    input {
     &:first-child {
        margin-right: 10px;
     }
    }
}
.label-tags {
    font-size: 14px;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 600;
}
.table-hours {
margin:0;
width:100%;
border:1px solid $lighten1;
    tbody {
       font-family: $quicksand;
        tr {
            th {
                background: $lighten1;
                padding: 6px 5px;
            }
            td {
                padding: 7px;
                font-weight: 600;
                input {
                    display: block;
                    padding: 5px 6px;
                    font-size: 13px;
                    color: #86a1ae;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #dfe4e8;
                    border-radius: .25rem;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
            }
        }
    }
}

.table-cart {
	    font-family: 'Quicksand';
	.total-amount {
    font-size: 19px;
    font-weight: 700;
}
}

.table-heads tbody tr td .remove i {
    font-size: 23px;
    padding: 8px;
    color: red;
}
.table-heads tbody tr td .plus i {
    font-size: 23px;
    padding: 8px;
    color: #0d6f22;
}  
.modal-header {
    padding: 10px;
	.modal-title {
    font-size: 16px;
}
}

.price_inc {
    padding: 0;
    list-style: none;
    margin: 6px 0px;
	li {
		text-align: center;
    	display: inline-block;
    	padding-right: 15px;
    	color: $dark;
	}
}

.list-loca {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding-right: 4px;
		display: inline-block;
	}
}