$lighten1 : #F5F7FA;
$lighten2 : #dfe4e8;
$white : #fff;
$black : #000;
$dark-l:#3e3c3c;
$dark : #333;
$grey-d : #646f79;
$grey-l: #86a1ae;
$verified : #0ebf6d;
$prim:#404E67;
$verified1 : #12a501;
$green-l:#08bd80;
$blue-l:#4797cd;
$blue-d : #143066;
$blue:#006df0;
$red : red;
$red-l:#ea5050;